h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_7d35d100 a { text-decoration: none; }
#menu_7d35d100_pane { background-color: #013A74; border: 1px solid #FFFFFF; padding-top: 25px; padding-bottom: 25px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_7d35d100_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_7d35d100_entry { padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; }
#menu_7d35d100_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_7d35d100_entry:hover span { color:#FFFFFF !important; }
		.menu_7d35d100_mainMenuEntry { text-align: center; }
		.menu_7d35d100_mainMenuEntry:hover {	background-color:#282828; }
		.menu_7d35d100_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_7d35d100 .mobileEntry { display: none; } 
		#menu_7d35d100 .normalEntry { display: block; } 
		@media only screen and (max-width:670px) { 
			#menu_7d35d100 .mobileEntry { display: block; } 
			#menu_7d35d100 .normalEntry { display: none; } 
		}
#mmm {
    top: 56px;
}
body { background:none; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_53797471 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:108px; background-color:#FFFFFF;  }
#container_53797471_padding { margin: 20px 10px 20px 10px;display: block;  }
.textstyle2 { text-align:left; }
#text_250423ca { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:81px; background:none;  }
.textstyle3 { font-size:40pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000; font-weight:bold;  }
#text_24e3eb05 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:25px; background:none;  }
.textstyle4 { font-size:18pt; font-family:'Lucida Console', Monaco, monospace; color:#FFA925; font-weight:bold;  }
#container_650abe15 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background-color:#FFFFFF; border-top: 2px solid #FFA925; border-left: none; border-right: none; border-bottom: 2px solid #FFA925;  }
.textstyle5 { text-align:right; }
#menu_7d35d100 { vertical-align: bottom; position:relative; display: inline-block; float:right; width:100%; height:55px; text-align:left; background-color:#013A74; background: linear-gradient(to bottom, #2A0153, #013A74);  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:150px; height:55px; left:25px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:39px;  }
.textstyle6 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:27px;  }
.textstyle7 { font-size:16pt; font-family:'PT Sans Narrow'; color:#FFFFFF;  white-space: nowrap; }
.menustyle2 { position:absolute; width:150px; height:55px; left:175px;  }
.menustyle3 { position:absolute; width:150px; height:55px; left:325px;  }
.textstyle8 { font-size:13pt; font-family:'PT Sans Narrow'; color:#FFFFFF;  white-space: nowrap; }
.menustyle4 { position:absolute; width:150px; height:55px; left:475px;  }
#placeh_450824da { vertical-align: bottom; position:relative; display: inline-block; width:100%;  }
#container_6372ef2c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_6372ef2c_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_39a13c77 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_39a13c77_padding { margin: 10px 0px 10px 0px;display: block;  }
#img_48916986 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#container_1354b0f { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:285px; background:none;  }
#container_1354b0f_padding { margin: 10px 22px 10px 22px;display: block;  }
.textstyle9 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#heading_6a10eded { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; font-size:40pt; font-family:Impact, Charcoal, sans-serif; color:#000000; text-align:left;  }
#text_64802b77 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_5b13e29a { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_50c906c2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#000040;  }
#container_50c906c2_padding { margin: 10px; display: block;  }
#container_12dee79e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1280px; background:none;  }
#container_12dee79e_padding { margin: 20px; display: block;  }
.textstyle12 { font-size:26pt; font-family:'PT Sans Narrow'; color:#00FF80; font-weight:bold;  }
.textstyle13 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle14 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF;  }
#container_79dff3b4 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_79dff3b4_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:14pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#00FF80; font-weight:bold;  }
.textstyle16 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000;  }
#container_2bc926a0 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_2bc926a0_padding { margin: 10px; display: block;  }
#container_15f9c727 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_15f9c727_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 650px)
{
		#container_79dff3b4 { width:100%;  }
		#container_2bc926a0 { width:100%;  }
		#container_15f9c727 { width:100%;  }
}
@media only screen and (max-width: 640px)
{
		#container_53797471 * span { font-size:33pt;  }
		#text_250423ca * span { font-size:33pt;  }
		#text_24e3eb05 * span { font-size:16pt;  }
}
@media only screen and (max-width: 768px)
{
		#container_39a13c77 { width:100%;  }
		#container_1354b0f { width:100%;  }
}
