a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_714e5a50 { box-sizing: border-box; vertical-align: bottom; border-radius: 4px; position:relative; display: inline-block; width:128px; height:44px; background-color:#FF8040; border: 2px solid #4182E6;  }
#button_714e5a50:hover { background-color:#400080; border-color:#00FF80;  }
#button_714e5a50:hover { color:#FFFFFF; }
#button_6848ba0 { box-sizing: border-box; vertical-align: bottom; border-radius: 4px; position:relative; display: inline-block; width:160px; height:44px; background-color:#7F7F7F; border: 2px solid #004000;  }
#button_6848ba0:hover { background-color:#400080; border-color:#FF8000;  }
#button_6848ba0:hover { color:#FFFFFF; }
#button_2eed27d { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; float:right; width:40%; height:40px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#button_2eed27d:hover { background-color:#FF0000; background: linear-gradient(to bottom,#FF0000, #720000 50%, #590000 50%, #3F0000); border-color:#000000;  }
#button_2eed27d:hover span { color:#FFFFFF; }
#menu_7d35d100 a { text-decoration: none; }
#menu_7d35d100_pane { background-color: #013A74; border: 1px solid #FFFFFF; padding-top: 25px; padding-bottom: 25px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_7d35d100_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_7d35d100_entry { padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; }
#menu_7d35d100_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_7d35d100_entry:hover span { color:#FFFFFF !important; }
		.menu_7d35d100_mainMenuEntry { text-align: center; }
		.menu_7d35d100_mainMenuEntry:hover {	background-color:#282828; }
		.menu_7d35d100_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_7d35d100 .mobileEntry { display: none; } 
		#menu_7d35d100 .normalEntry { display: block; } 
		@media only screen and (max-width:670px) { 
			#menu_7d35d100 .mobileEntry { display: block; } 
			#menu_7d35d100 .normalEntry { display: none; } 
		}
#mmm {
    top: 56px;
}
body { background:none; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_53797471 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:108px; background-color:#FFFFFF;  }
#container_53797471_padding { margin: 20px 10px 20px 10px;display: block;  }
.textstyle2 { text-align:left; }
#text_250423ca { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:81px; background:none;  }
.textstyle3 { font-size:40pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000; font-weight:bold;  }
#text_24e3eb05 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:25px; background:none;  }
.textstyle4 { font-size:18pt; font-family:'Lucida Console', Monaco, monospace; color:#FFA925; font-weight:bold;  }
#container_650abe15 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background-color:#FFFFFF; border-top: 2px solid #FFA925; border-left: none; border-right: none; border-bottom: 2px solid #FFA925;  }
.textstyle5 { text-align:right; }
#menu_7d35d100 { vertical-align: bottom; position:relative; display: inline-block; float:right; width:100%; height:55px; text-align:left; background-color:#013A74; background: linear-gradient(to bottom, #2A0153, #013A74);  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:150px; height:55px; left:25px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:39px;  }
.textstyle6 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:27px;  }
.textstyle7 { font-size:16pt; font-family:'PT Sans Narrow'; color:#FFFFFF;  white-space: nowrap; }
.menustyle2 { position:absolute; width:150px; height:55px; left:175px;  }
.menustyle3 { position:absolute; width:150px; height:55px; left:325px;  }
.textstyle8 { font-size:13pt; font-family:'PT Sans Narrow'; color:#FFFFFF;  white-space: nowrap; }
.menustyle4 { position:absolute; width:150px; height:55px; left:475px;  }
#placeh_450824da { vertical-align: bottom; position:relative; display: inline-block; width:100%;  }
#container_426fe36 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_426fe36_padding { margin: 10px; display: block;  }
#form_7d022765 { vertical-align: top; position:relative; display: inline-block; width:34%; min-height:294px; background:none;  }
#form_7d022765_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#004080;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FF0000;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#edit_53fe67b0 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#edit_71fbe97c { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#datepicker_e90d421 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_714e5a50 { box-sizing: border-box; vertical-align: bottom; border-radius: 4px; position:relative; display: inline-block; width:128px; height:44px; background-color:#FF8040; border: 2px solid #4182E6; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_1fc3bde7 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#804000;  }
#container_1fc3bde7_padding { margin: 10px; display: block;  }
#container_1f421e47 { vertical-align: top; position:relative; display: inline-block; width:80%; background:none;  }
#container_1f421e47_padding { margin: 15px; display: block;  }
#text_66675b11 { position:absolute; left:0%; top:0%; width:100%; height:100%; background:none;  }
.textstyle12 { font-size:18pt; font-family:Oswald; color:#FF0000;  }
#container_6b6534ab { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:150px; background:none;  }
#container_6b6534ab_padding { margin: 10px; display: block;  }
#edit_489b3d8 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; float:right; width:60%; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#edit_5937bf07 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; float:right; width:60%; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#edit_7a7cbcc2 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; float:right; width:60%; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#edit_3578321b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; float:right; width:80%; height:92px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_6848ba0 { box-sizing: border-box; vertical-align: bottom; border-radius: 4px; position:relative; display: inline-block; width:160px; height:44px; background-color:#7F7F7F; border: 2px solid #004000; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_217f40b3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1280px; background:none;  }
#container_217f40b3_padding { margin: 10px; display: block;  }
#container_77609974 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:348px; background:none;  }
#container_77609974_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle13 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#img_9dd90bd { vertical-align: bottom; position:relative; display: inline-block; float:left; width:58%; background:none; height:auto;  }
#container_2cd456e3 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:346px; background:none;  }
#container_2cd456e3_padding { margin: 10px; display: block;  }
#button_5687a04e { box-sizing: border-box; vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; float:right; width:40%; height:40px; background-color:#6654C0; border: 4px solid #404040;  }
#img_4cc3ae0c { vertical-align: bottom; position:relative; display: inline-block; float:left; width:59%; background:none; height:auto;  }
#container_23ef66f4 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:348px; background:none;  }
#container_23ef66f4_padding { margin: 10px; display: block;  }
#button_6daea329 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; float:right; width:41%; height:40px; background-color:#1356AE; border: 2px solid #092850;  }
#img_7aa90855 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:60%; background:none; height:auto;  }
#container_50c906c2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#000040;  }
#container_50c906c2_padding { margin: 10px; display: block;  }
#container_12dee79e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1280px; background:none;  }
#container_12dee79e_padding { margin: 20px; display: block;  }
.textstyle14 { font-size:26pt; font-family:'PT Sans Narrow'; color:#00FF80; font-weight:bold;  }
.textstyle15 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle16 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF;  }
#container_79dff3b4 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_79dff3b4_padding { margin: 10px; display: block;  }
.textstyle17 { font-size:14pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#00FF80; font-weight:bold;  }
.textstyle18 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000;  }
#container_2bc926a0 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_2bc926a0_padding { margin: 10px; display: block;  }
#container_15f9c727 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_15f9c727_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 650px)
{
		#container_79dff3b4 { width:100%;  }
		#container_2bc926a0 { width:100%;  }
		#container_15f9c727 { width:100%;  }
}
@media only screen and (max-width: 640px)
{
		#container_53797471 * span { font-size:33pt;  }
		#text_250423ca * span { font-size:33pt;  }
		#text_24e3eb05 * span { font-size:16pt;  }
}
@media only screen and (max-width: 800px)
{
		#container_77609974 { width:100%;  }
		#container_2cd456e3 { width:100%;  }
		#container_23ef66f4 { width:100%;  }
}
@media only screen and (max-width: 640px)
{
		#form_7d022765 { width:100%;  }
		#container_1f421e47 { width:100%;  }
}
