a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#img_2ea1b31f { vertical-align: bottom; position:relative; display: inline-block; width:4%; background:none; height:auto;  }
#img_41dbccbb { vertical-align: bottom; position:relative; display: inline-block; width:10%; background:none; height:auto;  }
